[Desktop Entry]
Version=1.0
Name=Informar de errores
Name[es]=Informar de errores
Comment=Browse the World Wide Web
Comment[es]=Informar de errores
GenericName=Informar de errores
GenericName[es]=Informar de errores
Exec=firefox-24-wrapper %u www.guadalinex.org/errores
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=applications-internet
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
StartupWMClass=Firefox
StartupNotify=true
